@page
@model T5_PR1.Pages.AddEnergyIndicatorModel
@{
	ViewData["Title"] = "Editar indicador energetic";
}
<h1> @ViewData["Title"]</h1>
<div class="row shadow">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label asp-for="energyIndicator.Any"> Any </label>
				<input asp-for="energyIndicator.Any" class="form-control" />
				<span asp-validation-for="energyIndicator.Any" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="energyIndicator.ProduccioNeta">Producció Neta</label>
				<input asp-for="energyIndicator.ProduccioNeta" class="form-control" />
				<span asp-validation-for="energyIndicator.ProduccioNeta" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="energyIndicator.ConsumGasolina">Consum Gasolina</label>
				<input asp-for="energyIndicator.ConsumGasolina" class="form-control" />
				<span asp-validation-for="energyIndicator.ConsumGasolina" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="energyIndicator.DemandaElectrica">Demanda Electrica</label>
				<input asp-for="energyIndicator.DemandaElectrica" class="form-control" />
				<span asp-validation-for="energyIndicator.DemandaElectrica" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="energyIndicator.ProduccioDisponible">Producció Disponible</label>
				<input asp-for="energyIndicator.ProduccioDisponible" class="form-control" />
				<span asp-validation-for="energyIndicator.ProduccioDisponible" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<input type="submit" value="Afegir" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}