@page
@model T5_PR1.Pages.AddWaterConsumptionModel
@{
    ViewData["Title"] = "Afegir consum d'aigua";
}
<h1> @ViewData["Title"]</h1>
<div class="row shadow">
	<div class="col-md-4">
		<form method="post">
			<div class="form-group">
				<label asp-for="waterConsumption.Comarca"> Comarca </label>
				<input asp-for="waterConsumption.Comarca" class="form-control" />
				<span asp-validation-for="waterConsumption.Any" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="waterConsumption.Municipi">Producció Municipi</label>
				<input asp-for="waterConsumption.Municipi" class="form-control" />
				<span asp-validation-for="waterConsumption.Municipi" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="waterConsumption.Consum">Consum</label>
				<input asp-for="waterConsumption.Consum" class="form-control" />
				<span asp-validation-for="waterConsumption.Consum" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="waterConsumption.Any">Any</label>
				<input asp-for="waterConsumption.Any" class="form-control" />
				<span asp-validation-for="waterConsumption.Any" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<input type="submit" value="Afegir" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


