@page
@model MenuModel
@{
    ViewData["Title"] = "Home page";
}
<div style="text-align : center">
    <img src="~/Images/MenuImage.png"/>
</div>
<div class="text-center">
    <h1>@Model.TitleMessage</h1>
</div>