@page
@model T5_PR1.Pages.UpdateWaterConsumptionModel
@{
	ViewData["Title"] = "Editar consum d'aigua";
}
<h1> @ViewData["Title"]</h1>
<div class="row shadow">
	<div class="col-md-4">
		<form method="post">
			<input type="hidden" asp-for="WaterConsumptions.Id" />
			<div class="form-group">
				<label asp-for="WaterConsumptions.Comarca"> Comarca </label>
				<input asp-for="WaterConsumptions.Comarca" class="form-control" />
				<span asp-validation-for="WaterConsumptions.Any" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="WaterConsumptions.Municipi">Producció Municipi</label>
				<input asp-for="WaterConsumptions.Municipi" class="form-control" />
				<span asp-validation-for="WaterConsumptions.Municipi" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="WaterConsumptions.Consum">Consum</label>
				<input asp-for="WaterConsumptions.Consum" class="form-control"/>
				<span asp-validation-for="WaterConsumptions.Consum" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="WaterConsumptions.Any">Any</label>
				<input asp-for="WaterConsumptions.Any" class="form-control"/>
				<span asp-validation-for="WaterConsumptions.Any" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<input type="submit" value="Actualitzar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
