USE [master]
GO
/****** Object:  Database [PR5]    Script Date: 28/03/2025 0:36:14 ******/
CREATE DATABASE [PR5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PR5', FILENAME = N'B:\Sergio\ITB\1rAny\Programación\MSSQL16.SQLEXPRESS\MSSQL\DATA\PR5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PR5_log', FILENAME = N'B:\Sergio\ITB\1rAny\Programación\MSSQL16.SQLEXPRESS\MSSQL\DATA\PR5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PR5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PR5]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/03/2025 0:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumAigua]    Script Date: 28/03/2025 0:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumAigua](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comarca] [nvarchar](max) NOT NULL,
	[Municipi] [int] NOT NULL,
	[Consum] [float] NOT NULL,
	[Any] [int] NOT NULL,
 CONSTRAINT [PK_ConsumAigua] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndicadorEnergia]    Script Date: 28/03/2025 0:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndicadorEnergia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Any] [int] NOT NULL,
	[ProduccioNeta] [float] NOT NULL,
	[ConsumGasolina] [float] NOT NULL,
	[DemandaElectrica] [float] NOT NULL,
	[ProduccioDisponible] [float] NOT NULL,
 CONSTRAINT [PK_IndicadorEnergia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simulations]    Script Date: 28/03/2025 0:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simulations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateSimulation] [datetime2](7) NOT NULL,
	[EnergyNeeded] [float] NOT NULL,
	[CostEnergy] [float] NOT NULL,
	[PriceEnergy] [float] NOT NULL,
	[Rati] [float] NOT NULL,
	[GeneratedEnergy] [float] NOT NULL,
 CONSTRAINT [PK_Simulations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
